body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 95vh;
    width: 95vw;
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.nogoon{
    height: 30vh;
    width: 90vw;
    background-color: hotpink;
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}
button{
    height: 6vh;
    width: 20vw;
    background-color: hotpink;
    border: solid 3px white;
    border-radius: 20px;
    color: white;
    font-size: 20px;
}

.boxes{
    height: 55vh;
    width: 90vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 2px black;
}
.box1{
     height: 45vh;
    width: 25vw;
    border: solid 3px hotpink;
    display: flex;
}
.box{
    height: 45vh;
    width: 25vw;
    border: solid 3px hotpink;
}
.duguinuud{
    height: 45vh;
    width: 12vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.dugui{
    height: 12vh;
    width: 6vw;
    border: solid 2px black;
    border-radius: 100%;
}
.durvuljnuud{
    height: 45vh;
    width: 13vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.durvuljin{
    height: 12vh;
    width: 10vw;
    border: solid 2px black;
}